.jumbo-hero-about {
    padding: 0 15px;
    height: 240px;
}

.jumbo-inner-about  {
  width: 100%;
  min-height: 240px;
  padding: 5rem 0 1rem;
}

.about-section {
  max-width: 710px;
}

@media screen and (max-width: 600px) {
  .page-hero .container {
      min-height: 660px;
      padding-top: 0px;
  }
}
