<main id="main">
  <div class="blog-card justify-content-center lign-items-center text-center">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1526374870839-e155464bb9b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul class="card-list">Data Science</ul>
          <ul class="card-list">Code Translation</ul>
          <ul class="card-list">Spreadsheet Translation</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Digitalization</h1>
      <h2>Transform and digitalize your business processes</h2>
      <p>We help you to reorganize and align ancient excel spreadsheets and old-fashioned programming code, by translating and mapping them into new clean Python code. </p>
    </div>
  </div>
  <div class="blog-card justify-content-center lign-items-center text-center alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1458040937381-49c067dfd49a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul class="card-list">Latest Research Trends</ul>
          <ul class="card-list">Quantitative Finance</ul>
          <ul class="card-list">Academia and Practice</ul>
        </li>
      </ul>
    </div>    
    <div class="description">
      <h1>Research</h1>
      <h2>Developing mathematical models</h2>
      <p>The objective of quantitative research is to develop and to understand mathematical models. After the exploration we are happy to prototype and implement the developed models in your system.</p>
    </div>
  </div>
  <div class="blog-card justify-content-center lign-items-center text-center">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1546704864-07235973413d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul class="card-list">Signal Exploration</ul>
          <ul class="card-list">Signal Improvement</ul>
          <ul class="card-list">Option Implied Information</ul>
          <ul class="card-list">Backtesting</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Investment Strategy</h1>
      <h2>Constructing and developing your portfolio</h2>
      <p>Due to the close connection to academia and its research we can enrich and improve existing investment strategies or explore new portfolio construction methods for you. Back testing the strategy and evaluating the associated risks are part of the process.</p>
    </div>
  </div>
<div class="blog-card justify-content-center lign-items-center text-center">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1513596846216-48ae70153834?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul class="card-list">Forecasting</ul>
          <ul class="card-list">Trading Signals</ul>
          <ul class="card-list">Risk Measures</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Option-Implied Information</h1>
      <h2>Forecasting future market risks and returns</h2>
      <p>Option prices, by construction, reflect investors’ expectations about future price movements, and, hence, are natural candidates for predicting future market returns. They can be exploited to create trading signals or to forecast future market risks.</p>
    </div>
  </div>  
  <div class="blog-card justify-content-center lign-items-center text-center alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)"></div>
      <ul class="details">
        <li class="tags">
          <ul class="card-list">Global Risk</ul>
          <ul class="card-list">Systematic Market Risk</ul>
          <ul class="card-list">Idiosyncratic Risk</ul>
        </li>
      </ul>
    </div>    
    <div class="description">
      <h1>Risk Management</h1>
      <h2>Identification, evaluation, and prioritization of risks</h2>
      <p>We explore, prototype, and implement new or existing risk management methods for you. Our spectrum ranges from simple risk management approaches for Robo Advisers to more sophisticated methods for hedge funds or banks.</p>
    </div>
  </div>
</main>
