<main id="main">
  <div class="blog-card justify-content-center lign-items-center text-center">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1526374870839-e155464bb9b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul>[Schlagwort 1]</ul>
          <ul>[Schlagwort 2]</ul>
          <ul>[Schlagwort 3]</ul>
          <ul>[Schlagwort 4]</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Digitalization</h1>
      <h2>[Tagline Digitalization]</h2>
      <p>We help you to reorganize and align ancient excel spreadsheets and old-fashioned programming code, by translating and mapping them into new clean Python code.</p>
    </div>
  </div>
  <div class="blog-card justify-content-center lign-items-center text-center alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1458040937381-49c067dfd49a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul>[Schlagwort 1]</ul>
          <ul>[Schlagwort 2]</ul>
          <ul>[Schlagwort 3]</ul>
          <ul>[Schlagwort 4]</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Research</h1>
      <h2>[Tagline Research]</h2>
      <p>The objective of quantitative research is to develop and employ mathematical models. After the exploration we are happy to prototype and implement the developed models in your system.</p>
    </div>
  </div>
    <div class="blog-card justify-content-center lign-items-center text-center">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1546704864-07235973413d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul>[Schlagwort 1]</ul>
          <ul>[Schlagwort 2]</ul>
          <ul>[Schlagwort 3]</ul>
          <ul>[Schlagwort 4]</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Investment Strategy</h1>
      <h2>[Tagline Investment Strategy]</h2>
      <p>Due to the close connection to academia and academic oriented research we can enrich existing investment strategies or explore new portfolio construction methods for you. Back testing the strategy and evaluating the associated risks are part of the process.</p>
    </div>
  </div>
  <div class="blog-card justify-content-center lign-items-center text-center alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2434&q=80)"></div>
      <ul class="details">
        <li class="tags">
          <ul>[Schlagwort 1]</ul>
          <ul>[Schlagwort 2]</ul>
          <ul>[Schlagwort 3]</ul>
          <ul>[Schlagwort 4]</ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Risk Management</h1>
      <h2>[Tagline Risk Management]</h2>
      <p>We explore and implement new or existing risk management methods for you.</p>
    </div>
  </div>
</main>
