<div class="card mt-2">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
        <div class="w-100 carousel-inner" role="listbox">
        <h2 class="mb-2 mb-md-4 text-testimonials">Clients we have worked for in the past</h2>
          <div class="carousel-item active">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-sm-12">
                  <%= image_tag("fincite.png", class: "logo-testimonials") %>
                    <ul class="testimonial-list">
                      <li>Advanced High Dimensional Portfolio Optimization</li>
                        <li>Robo Advising</li>
                      <li>Investment and Risk Management related Quantitative Research</li>
                      <li>Prototyping Quantitative Solutions in Python</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-sm-12">
                  <%= image_tag("oppenheimer.jpg", class: "logo-testimonials") %>
                    <ul class="testimonial-list">
                      <li>(option-implied) Signal exploration for a Multifactor ETF Strategy </li>
                      <li>Translating and aligning programming code and spreadsheets into Python</li>
                      <li>Development of a Backtesting Tool for the Portfolio Management and the Sales Team</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
