<main id="main">
  <section class="page-hero d-flex">
    <div class="container d-flex flex-column w-100 justify-content-start align-items-center">
      <div class="inner text-center">
        <noscript>
        <div>Javascript must be enabled for the correct page display</div>
        </noscript>
        <section class="jumbo-hero-about d-flex">
          <div class="jumbo-inner-about d-flex flex-column justify-content-start align-items-center text-center">
            <div class="hero-logo w-100 mb-4">
              <%= image_tag('logo.png', class: "zoquant-logo") %>
            </div>
          </div>
        </section>
        <div class="bottom-block">
          <section class="about-section ml-auto mr-auto text-center">
            <h2 class="mb-2 mb-md-4 mobile-margin">About</h2>
            <p>ZoQuant Solutions combines academic knowledge with practical experience.<br><br> Founded in 2017 we are consulting clients in various aspects dealing with financial mathematics, portfolio- and trading strategies, factor investing, and risk management.</p>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>
