<main id="main">
  <section class="page-hero d-flex">
    <div class="container d-flex flex-column w-100 justify-content-center align-items-center">
      <div class="inner-careers text-center">
        <h1>Careers</h1>
        <p class="mt-3">We are always searching for talents enjoy working in a quantitative environment.</p>
        <p class="mt-3">Currently we are looking for part time employees, working flexible hours (less than 20h per week). You will be either located directly at the client or you can work from any other preferred location.</p>
        <p class="mt-3">What your profile should contain:</p>
        <ul class="list-careers">
          <li>Studies in Mathematics (Mathematical Finance, Business Mathematics), Data Science, or a related field</li>
          <li> Basic knowledge of and interest in finance</li>
          <li>Programming skills (at least basics and preferably in Python)</li>
          <li>Machine learning is a plus</li>
          <li>English proficiency</li>
          <li>Salary is paid per hour and depending on your skills</li>
        </ul>
        <p class="mt-5">We would like to hear from you. Please apply below with your CV and a short introduction of yourself.</p>

        <div class="btn-wrap pt-2 mt-2">
          <a href="mailto:lorenzo@zoquantsolutions.com" class="btn btn-ghost" role="button">
            <span>Apply</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
