<main id="main">
  <section class="page-hero d-flex">
    <div class="container d-flex flex-column w-100 justify-content-center align-items-center">
      <div class="inner text-center">
        <h1>Contact Us</h1>
        <p>Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>
        <div class="btn-wrap pt-2 mt-2">
          <a href="mailto:lorenzo@zoquantsolutions.com" class="btn btn-ghost" role="button">
            <span>Send Email</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
