<noscript>
<div>Javascript must be enabled for the correct page display</div>
</noscript>
<section class="jumbo-hero d-flex">
  <div class="jumbo-inner d-flex flex-column justify-content-center align-items-center text-center bg-light">
    <div class="hero-logo w-100 mb-4">
      <%= image_tag('logo.png', width: "476", height: "105") %>
    </div>
    <h1 class="hero-title w-100">Mission-Critical Advisor to Fintechs, Hedge Funds, and Asset Managers for Investment Strategies and Quantitative Research</h1>
    <h1 class="hero-subtitle w-100 mb-0">ZoQuant Solutions combines academic knowledge with practical experience</h1>
  </div>
</section>
</div>
<div class="related-block">
<div class="container wide">
  <ul class="related-card-list list-unstyled d-flex flex-wrap justify-content-between bg-light">
    <li>
      <div class="related-card">
        <h2>Digitalization</h2>
        <p>We help you to reorganize and align ancient excel spreadsheets and old-fashioned programming code, by translating and mapping them into new clean Python code.</p>
      </div>
    </li>
    <li>
      <div class="related-card">
        <h2>Research</h2>
        <p>The objective of quantitative research is to develop and employ mathematical models. After the exploration we are happy to prototype and implement the developed models in your system.</p>
      </div>
    </li>
    <li>
      <div class="related-card">
        <h2>Investment Strategy Exploration</h2>
        <p>Due to the close connection to academia and academic oriented research we can enrich existing investment strategies or explore new portfolio construction methods for you. Back testing the strategy and evaluating the associated risks are part of the process.</p>
      </div>
    </li>
    <li>
      <div class="related-card">
        <h2>Risk Management</h2>
        <p>We explore and implement new or existing risk management methods for you.</p>
      </div>
    </li>
  </ul>
</div>
</div>
<div class="bottom-block">
<section class="get-in-touch-section ml-auto mr-auto text-center">
  <h2 class="mb-2 mb-md-4">Get in Touch</h2>
  <p>If you’d like to learn more about what we do, please don’t hesitate to reach out.</p>
  <div class="btn-wrap pt-2">
    <a href="mailto:contact@zoquantsolutions.com" class="btn btn-ghost" role="button">
      <span>Contact</span>
    </a>
  </div>
</section>
</div>
</div>
<footer id="footer">
<div class="container">
<div class="row justify-content-center justify-content-sm-between">
  <div class="col col-12 col-sm-4 mb-2 mb-sm-0 d-none d-sm-block">
    <div class="copyright text-left">
      <span>© ZoQuant Solutions 2019</span>
    </div>
  </div>
  <div class="col col-12 col-sm-4">
    <div class="d-flex justify-content-center justify-content-sm-end">
      <%= link_to "IMPRESSUM", "impressum", class: "nav-link" %>
    </div>
  </div>
</div>
</footer>
