<a class="accessibility" href="#main">Skip to Content</a>
<noscript>
<div>Javascript must be enabled for the correct page display</div>
</noscript>
<div class="wrapper" id="d-flex">
  <div class="d-flex flex-column w-100">
    <section class="jumbo-hero d-flex">
      <div class="jumbo-inner d-flex flex-column justify-content-center align-items-center text-center bg-light">
        <div class="hero-logo w-100">
          <%= image_tag('logo.png', width: "476", height: "105") %>
        </div>
        <h1 class="hero-title w-100 mb-0">Mission-Critical Advisor to Hedge Funds and Asset Managers for Quantitative Investment Strategies</h1>
      </div>
    </section>
  </div>
  <div class="related-block">
    <div class="container wide">
      <ul class="related-card-list list-unstyled mb-md-5 d-flex flex-wrap justify-content-between bg-light">
        <li>
          <div class="related-card">
            <h2>Risk Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam exercitationem reiciendis, maiores animi saepe soluta ea, a rerum reprehenderit nisi illum dolores! Quidem impedit molestias error libero voluptatem animi sint.</p>
          </div>
        </li>
        <li>
          <div class="related-card">
            <h2>Robo Advising</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam exercitationem reiciendis, maiores animi saepe soluta ea, a rerum reprehenderit nisi illum dolores! Quidem impedit molestias error libero voluptatem animi sint.</p>
          </div>
        </li>
        <li>
          <div class="related-card">
            <h2>Portfolio Optimization</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam exercitationem reiciendis, maiores animi saepe soluta ea, a rerum reprehenderit nisi illum dolores! Quidem impedit molestias error libero voluptatem animi sint.</p>
          </div>
        </li>
        <li>
          <div class="related-card">
            <h2>Backtesting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam exercitationem reiciendis, maiores animi saepe soluta ea, a rerum reprehenderit nisi illum dolores! Quidem impedit molestias error libero voluptatem animi sint.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a class="accessibility" href="#wrapper">Back to top</a>
</div>
