<noscript>
  <div>Javascript must be enabled for the correct page display</div>
</noscript>
<section class="jumbo-hero d-flex">
  <div class="jumbo-inner d-flex flex-column justify-content-center align-items-center text-center bg-light">
    <div class="hero-logo w-100 mb-4">
      <%= image_tag('logo.png', class: "zoquant-logo") %>
    </div>
    <h1 class="hero-title w-100">Mission-Critical Advisor to Fintechs, Hedge Funds, and Asset Managers for Investment Strategies and Quantitative Research</h1>
    <a class="scroll" href="#scroll"><i class="fas fa-arrow-down home-arrow"></a></i>
  </div>
</section>
<div class="related-block" id="scroll">
  <div class="container wide">
    <%= render 'shared/cards' %>
    <%= render 'shared/testimonials' %>
  </div>
</div>
<div class="bottom-block">
  <section class="get-in-touch-section ml-auto mr-auto text-center">
    <h2 class="mb-2 mb-md-4 mobile-margin">Get in Touch</h2>
    <p>If you’d like to learn more about what we do, please don’t hesitate to reach out.</p>
    <div class="btn-wrap pt-2">
      <a href="mailto:contact@zoquantsolutions.com" class="btn btn-ghost" role="button">
        <span>Contact</span>
      </a>
    </div>
  </section>
</div>
<%= render 'shared/footer' %>
