.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  font-size: 0.875rem;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
    &:hover {
      color: orange !important;
      transition: 0.3s;
      opacity: 0.6;
  }
}

.navbar-hover {
  color: black !important;
  a:hover {
      color: orange !important;
      transition: 0.3s;
      opacity: 0.6;
  }
}
