.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-hover {
  color: black;
  a:hover {
      color: orange !important;
      transition: 0.3s;
      opacity: 0.6;
  }
}
